*{
    margin: 0px;
    padding: 0px;
}
ul,
nav {
    background-color: darkblue;
    list-style: none;
    padding: 5px;
}

li {
    display: inline-block;
    color: white;
    padding: 0px 10px;
    border-left: 1px solid;
}